<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logs/movie/cloud.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/movie/%d{yyyy-MM-dd,aux}/cloud-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 保留最近60天的日志 -->
			<maxHistory>1</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>
	</appender>


	<logger name="com.imovie.cloud" level="DEBUG" />
	<logger name="net" level="ERROR" />
	<logger name="org" level="ERROR" />
	<logger name="java.sql.Connection" level="ERROR" />
	<logger name="org.mybatis" level="INFO" />
	<logger name="org.springframework.jdbc.core" level="DEBUG" />
	<logger name="org.mybatis.spring.SqlSessionUtils" level="INFO" />
	<logger name="org.springframework" level="INFO" />

	<root level="DEBUG">
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>
</configuration>